# ignore dataset
raw_dataset/
processed_dataset/**
# ignore reading materials
Reading\ materials/

# ignore helper scripts
helper/

# ignore logs
logs/

# ignore pychache
__pycache__/

# ignore checkpoints
checkpoints/

# ignore video test files
leftImg8bit_demoVideo/

# ignore predicted mask
output/*